@import "tailwindcss";

@layer base {
    body {
        position: relative;
        overflow-x: hidden;
        background: radial-gradient(
                circle at 50% 15%,
                rgba(192, 14, 183, 0.1) 0%,
                transparent 25%
            ),
            radial-gradient(circle at 85% 30%, rgba(8, 136, 158, 0.15) 0%, transparent 40%),
            radial-gradient(circle at 15% 50%, rgba(51, 4, 160, 0.15) 0%, transparent 35%),
            radial-gradient(circle at 75% 80%, rgba(88, 6, 54, 0.1) 0%, transparent 30%),
            url("/textures/classy-fabric.png");
        background-color: black;
    }
}
