@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;

  --color-bg-primary: hsl(0, 0%, 2%);
  --color-primary: hsl(210, 15%, 55%);
  --color-text-primary: hsl(210, 15%, 85%);
  --color-text-secondary: hsl(210, 15%, 65%);
}

@layer components {
  @keyframes firefly-vertical {
    0%,
    100% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.7;
    }
    25% {
      transform: translateY(-7px);
    }
    75% {
      transform: translateY(7px);
    }
  }

  @keyframes firefly-swerve-left {
    0% {
      opacity: 0.1;
    }
    25% {
      transform: translateX(-5px) translateY(-5px);
      opacity: 0.7;
    }
    50% {
      transform: translateX(0px) translateY(0px);
      opacity: 0.7;
    }
    75% {
      transform: translateX(-5px) translateY(5px);
      opacity: 0.7;
    }
    100% {
      opacity: 0.1;
      transform: translateX(0px) translateY(0px);
    }
  }

  @keyframes firefly-swerve-right {
    0% {
      opacity: 0.1;
    }
    25% {
      transform: translateX(5px) translateY(-5px);
      opacity: 0.7;
    }
    50% {
      transform: translateX(0px) translateY(0px);
      opacity: 0.7;
    }
    75% {
      transform: translateX(5px) translateY(5px);
      opacity: 0.7;
    }
    100% {
      opacity: 0.1;
      transform: translateX(0px) translateY(0px);
    }
  }
}

@layer base {
  html {
    font-family: var(--font-sans);
    height: 100%;

    /* Scrollbar */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  * {
    box-sizing: border-box;
  }

  body {
    background: url("/img/textures/classy-fabric.png");
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
  }

  main {
    background:
      radial-gradient(
        circle at 20% 12%,
        hsla(323, 54%, 37%, 0.1) 0%,
        transparent 20%
      ),
      radial-gradient(
        circle at 95% 5%,
        hsla(197, 47%, 38%, 0.08) 0%,
        transparent 55%
      ),
      radial-gradient(
        circle at 15% 50%,
        hsla(258, 95%, 32%, 0.15) 0%,
        transparent 35%
      ),
      radial-gradient(
        circle at 75% 80%,
        hsla(325, 87%, 18%, 0.1) 0%,
        transparent 30%
      );
  }
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
